.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(10px);
  z-index: 4;
}

.instaContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 4;
}


img.instaContent {
  object-position: center;
  object-fit: contain;
  background-position: center;
}

.instaContent {
  width: 50%;
}


@media screen and (min-width: 1700px) {
  .instaContent {
    width: 42%;
  }
}


@media screen and (max-width: 768px) and (min-width: 542px) {
  .instaContent {
    scale: 1.25;

    top: 50%;
    left: 65%;
    transform: translate(-62.5%, -50%);
  }
}

@media screen and (max-width: 542px) {
  .instaContent {
    scale: 1.75;

    top: 58%;
    left: 84%;
    transform: translate(-68%, -50%);
  }
}

.modal > button[type="button"] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 1.5rem;
  height: 1.5rem;

  border: none;
  background: none;
}

.modal > button[type="button"]::before {
  content: '';

  position: absolute;
  z-index: 2;
  
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  left: 50%;

  width: 4px;
  height: 2rem;

  background-color: black;
}

.modal > button[type="button"]::after {
  content: '';

  position: absolute;
  z-index: 2;
  
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  left: 50%;

  width: 4px;
  height: 2rem;

  background-color: black;
}