header > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: calc(100vw * 0.10);
  z-index: 10;
}

svg path {
  fill: transparent;
  stroke-dasharray: 135;
  stroke-dashoffset: 135;
}

svg path.start-Animation {
  stroke: #fff;
  animation: logoIntroAnimation 5s ease-in-out 1 forwards;
}

svg path.normal-Animation {
  stroke-dashoffset: 0;
  stroke-width: 1;
  animation: logoAnimation 10s ease-in-out infinite;
}

@keyframes logoIntroAnimation {
  0% {
    stroke-dashoffset: 135;
    stroke-width: 0.35;
  }
  35% {
    fill: transparent;
  }
  50% {
    fill: white;
    stroke-dashoffset: 0;
  }
  60% {
    fill: white;
    stroke-dashoffset: 0;
  }
  100% {
    fill: transparent;
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
}

@keyframes logoAnimation {
  0% {
    stroke: rgb(226, 226, 226);
    stroke-width: 1;
  }
  10% {
    stroke: white;
    stroke-width: 1;
  }
  25% {
    stroke-width: 2;
  }
  30% {
    stroke-width: 1;
  }
  45% {
    stroke-width: 2;
  }
  50% {
    stroke: white;
  }
  55% {
    stroke-width: 1;
  }
  60% {
    stroke: rgb(226, 226, 226);
  }
  65% {
    stroke-width: 1;
  }
  70% {
    stroke-width: 2;
  }
  75% {
    stroke-width: 1;
  }
  85% {
    stroke-width: 1;
  }
  90% {
    stroke-width: 2;
  }
  92.5% {
    stroke-width: 1;
  }
  100%{
    stroke: rgb(226, 226, 226);
    stroke-width: 1;
  }
}

@media screen and (max-width: 768px) {
  header > svg {
    height: calc(100vw * 0.2);
  }
}