.instagram > div.insta-img-wrapper {
  width: calc(100% * 0.32);
  height: calc(100% * 0.15);
  overflow: hidden;
  max-height: 415px;
}

@media screen and (max-width: 1725px) and (min-width: 1440px) {
  .instagram > div.insta-img-wrapper {
    width: calc(100% * 0.315);
    height: calc(100% * 0.15);
  }
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  .instagram > div.insta-img-wrapper {
    width: calc(100% * 0.46);
    height: calc(100% * 0.2);
    max-height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .instagram > div.insta-img-wrapper {
    width: 100%;
    height: calc(100% * 0.5);
    max-height: 600px;
  }
}

.instagram > div.insta-img-wrapper > img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: none;

  opacity: 0.5;
  transition: opacity 0.5s ease-in-out, scale 0.25s ease-in-out;
}

.instagram > div.insta-img-wrapper > img:hover {
  scale: 1.35;
  cursor: pointer;
}

.instagram > div.insta-img-wrapper > img.shown {
  opacity: 1;
}