.skeleton.instagram {
  width: calc(100% * 0.3159);
  height: 415px;

  animation: skeletonAnimation 2s infinite;
}

@media screen and (max-width: 1725px) and (min-width: 1440px) {
  .skeleton.instagram {
    width: calc(100% * 0.315);
  }
}

@media screen and (max-width: 1439px) and (min-width: 768px) {
  .skeleton.instagram {
    width: calc(calc(100% - 4rem) * 0.52);
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .skeleton.instagram {
    width: 100%;
    height: 600px;
  }
}

@keyframes skeletonAnimation {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #555555bf;
  }

  100% {
    background-color: transparent;
  }
}