header {
  width: 100%;
  height: 10rem;
  
  margin: 0;

  position: relative;
  overflow: hidden;
  
  animation: backgroundAnimation 10s infinite;

  background-color: rgb(0, 0, 170);

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 15px black;
}

header > img {
  position: absolute;
  top: 0;
}

img {
  width: 20rem;
}

img.left.second, img.right.second {
  right: -100%;
}

img.left.first {
  animation: animateLeftFirst 10s infinite;
}

img.right.first {
  animation: animateRightFirst 10s infinite;
}

img.left.second {
  animation: animateLeftSecond 10s infinite;
}

img.right.second {
  animation: animateRightSecond 10s infinite;
}


@keyframes backgroundAnimation {
  0% {
    background-color: rgb(0, 0, 170);
  }
  10% {
    background-color: rgb(248, 161, 176);
  }
  50% {
    background-color: rgb(248, 161, 176);
  }
  60% {
    background-color: rgb(0, 0, 170);
  }
  100%{
    background-color: rgb(0, 0, 170);
  }
}

@keyframes animateLeftFirst {
  0% {
    left: -100%;
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  50% {
    left: 0;
    opacity: 1;
  }
  55% {
    opacity: 0.25;
  }
  60% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes animateLeftSecond {
  0% {
    left: 0;
    opacity: 1;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    left: -100%;
    opacity: 0;
  }
  50% {
    left: -100%;
    opacity: 0;
  }
  55% {
    opacity: 0.25;
  }
  60% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes animateRightFirst {
  0% {
    right: -100%;
    opacity: 0;
  }
  5% {
    opcaity: 0.5;
  }
  10% {
    right: 0;
    opacity: 1;
  }
  50% {
    right: 0;
    opacity: 1;
  }
  55% {
    opacity: 0.25;
  }
  60% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: -100%;
    opacity: 0;
  }
}

@keyframes animateRightSecond {
  0% {
    right: 0;
    opacity: 1;
  }
  5% {
    opcaity: 0.5;
  }
  10% {
    right: -100%;
    opacity: 0;
  }
  50% {
    right: -100%;
    opacity: 0;
  }
  55% {
    opacity: 0.75;
  }
  60% {
    right: 0;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}