nav {
  position: fixed;
  top: 0;
  left: 0;
  gap: 1rem;

  width: 100%;

  background-color: rgba(0, 0, 0, 0.339);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.184);
  backdrop-filter:blur(2px);

  z-index: 11;
  user-select: none;

  opacity: 0.75;
}

nav:hover {
  opacity: 1;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.1rem;
  font-size: calc(100vw * 0.014);
  padding: 0;
  
  transition: margin 0.2s ease-in-out, font-size 0.2s ease-in;
}

nav > ul.top, nav > ul:hover {
  margin: 0.5rem;
  font-size: calc(100vw * 0.02);
}

nav > ul > div > a {
  font-weight: 600;
  font-style: italic;

  color: white;
  text-decoration: none;

  opacity: 0.5;
}

nav > ul > div > a:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  nav > ul {
    font-size: calc(100vw * 0.05)
  }

  nav > ul.top, nav > ul:hover {
    margin: 0.4rem;
    font-size: calc(100vw * 0.06)
  }  

  nav > ul > div > a {
    opacity: 0.8;
  }
}

@media screen and (max-width: 500px) {
  nav {
    opacity: 1;
  }

  nav > ul {
    font-size: calc(100vw * 0.08)
  }

  nav > ul.top, nav > ul:hover {
    margin: 0.4rem;
    font-size: calc(100vw * 0.10)
  } 

  nav > ul > div > a {
    opacity: 9;
  }
}