:root {
  --navbar-top-base: 15.5rem;
  --navbar-top-mobile: 14rem;

  --svg-dimensions: calc(100vw * 0.11);
  --svg-dimensions-400px: calc(100vw * 0.25);

  --error-fs: calc(100vw * 0.025);
  --error-fs-400px: calc(100vw * 0.0648)

  --logo-height-main: calc(100vw * 0.05);
  --copyright-main-fs: calc(100vw * 0.01);
  --copyright-sec-fs: calc(100vw * 0.0075);

  --logo-height-768px: calc(100vw * 0.15);
  --copyright-main-fs-768px: calc(100vw * 0.02);
  --copyright-sec-fs-768px: calc(100vw * 0.015);

  --logo-height-400px: calc(100vw * 0.25);
  --copyright-main-fs-400px: calc(100vw * 0.035);
  --copyright-sec-fs-400px: calc(100vw * 0.025);
}

* {
  margin: 0;
  box-sizing: content-box;
  
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

/*FIND SOME USABLE COLOR*/
body {
  background-color: rgba(255, 235, 205, 0.831);
  scroll-behavior: smooth;
}

body.scrollbar-disabled {
  overflow: hidden;
}

body > #root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  gap: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}


.flex-sp-ev {
  justify-content: space-between;
}

.no-select {
  user-select: none;
}

.page {
  margin: 2rem 4rem;
  gap: 1rem;
}

.page > .main-content {
  border: 1px solid rgba(0, 0, 0, 0.239);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.239);
  gap: 1.62rem;

  padding: 0.5rem;
}

.trans-opacity {
  transition: opacity 0.25s ease-in-out;
}

.hidden {
  opacity: 0.5;
}

.shown {
  opacity: 1;
}

.font-teko {
  font-family: "Teko", serif;
  font-optical-sizing: auto;
}

@media screen and (max-width: 768px) {
  .page {
    margin: 0.5rem;
  }
}