* {
  margin: 0;
  box-sizing: content-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

body.scrollbar-disabled {
  overflow: hidden;
}

.page {
  margin: 2rem;
  gap: 1rem;
}

  @media screen and (max-width: 768px) {
  .page {
    margin: 0.5rem;
  }
}