footer {
  padding: 0.75rem;
  gap: 1rem;

  background-color: rgba(0, 0, 0, 0.79);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.79);
  color: white;

  height: max-content;
}

.footer-main > svg path.normal-Animation {
  position: inherit;
}

.footer-main > svg {
  position: relative;
  width: max-content;

  top: 0;
  left: 0;

  height: var(--logo-height-main);

  transform: translate(0,0);
}

.copyright > p:first-child {
  font-weight: 200;
  font-size: var(--copyright-main-fs);
  color: rgba(255, 255, 255, 0.538);
}

.copyright > p:last-child {
  font-weight: 100;
  font-size: var(--copyright-sec-fs);
  color: rgba(255, 255, 255, 0.457);
}

@media screen and (max-width: 768px) {
  .footer-main > svg {
    height: var(--logo-height-768px);
  }

  .footer-main {
    flex-direction: column;
    gap: 1rem;
  }

  .copyright > p:first-child {
    font-size: var(--copyright-main-fs-768px);
  }

  .copyright > p:last-child {
    font-size: var(--copyright-sec-fs-768px);
  }
}

@media screen and (max-width: 400px) {
  .footer-main > svg {
    height: var(--logo-height-400px);
  }

  .copyright > p:first-child {
    font-size: var(--copyright-main-fs-400px);
  }

  .copyright > p:last-child {
    font-size: var(--copyright-sec-fs-400px);
  }
}